[submodule "SampleModule"]
	path = SampleModule
	url = https://github.com/steam-account-creator/SampleModule.git
	branch = dev
[submodule "ModuleBase"]
	path = ModuleBase
	url = https://github.com/steam-account-creator/ModuleBase.git
	branch = dev
